<div class="card">
    <div class="card-body">
        <p class="font-14">
           <%= message.user %> 
        </p>
        <p class="font-14">
           <%= message.content %> 
        </p>
    </div>
</div>