<%= form_for message, remote: true, id: "text-message", authenticity_token: true do |f| %>
    <div class="row">
        <div class="col-md-9">
            <%= f.text_area :content, class: "form-control has-no-border font-14 no-box-shadow", id:"text-value", data: {textarea: "message"} %>
        </div>
        <%= f.hidden_field :chatroom_id, value: chatroom.id %>
        <div class="col-md-3">
            <%= f.submit "Send", class: "btn btn-primary btn-block font-14 no-box-shadow", disabled, data: {send: "message"} %>
        </div>
    </div>
<% end %>