<section id="chat-name">
    <div class="col-md-12 no-horizontal-padding">
        <div class="alert alert-primary" style="padding-top: 10px; padding-bottom: 0; padding-left: 30px; padding-right: 30px;">
            <p class="font-20">
                <!-- May include this icon, not sure yet -->
                <!--<i class="fa fa-comments-o"></i>-->
                #<%= @chatroom.topic.downcase %>
            </p>
        </div>
    </div>
</section>
<section id="chat-room">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header background-yellow">
                    <p class="white font-16">Participants</p>
                </div>
                <div class="card-body">
                    <%= render partial: 'chatroom/users', locals: {users: @chatroom.users} %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card scrollableParent" style="height: 400px; z-index: 2; padding: 0 !important;">
                <div id="scrollable" style="z-index: 1; padding-bottom: 45px;">
                    <div id="scrollableChild">
                        <div class="card-body" id="messageList" style="padding-bottom: 5px; border-bottom: none;">
                            <%= render partial: 'messages/message', collection: @chatroom.messages %>
                        </div>
                    </div>
                </div>
                <div class="card-footer background-transparent" style="border-top: none; z-index: 3; padding-top: 5px; margin-top: 355px !important;">
                    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header background-yellow">
                    <p class="white font-16">Active Chatrooms</p>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</section>